@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @User.Identity?.Name!</h1>
    <p>You are logged in.</p>
    <a class="btn btn-outline-secondary mt-3" href="/user/logout">Log out</a>
</div>
